<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="diegomart_menu_root" 
              name="Diego Mart" 
              sequence="10"/>
              
    <!-- This Menu Item Must have a parent -->
    <menuitem id="diegomart_barang_menu_categ" 
              name="Barang" 
              parent="diegomart_menu_root" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="diegomart_pegawai_menu_categ" 
              name="Pegawai" 
              parent="diegomart_menu_root" 
              sequence="20"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem
	  id="diegomart_transaksi_menu_categ"
	  name="Transaksi"
	  parent="diegomart_menu_root"
	  sequence="42"/>

</odoo>
